// Import fonts
@import "fonts";

body {
    font-family: "Montserrat";
}

a {
    color: #026838;
}

h1 {
    font-weight: 900;
}

h3 {
    font-weight: 600;
}

nav.list-group ul li a.active {
    background-color: #026838;
}
